{% extends 'base.html' %}


{% block content %}

<h1 class="text-center">Статистика</h1>

<ul class="nav nav-tabs container">
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'visits.stat_users' %}active{% endif %}" href="{{ url_for('visits.stat_users') }}">Журнал действий пользователей</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'visits.stat_books' %}active{% endif %}" href="{{ url_for('visits.stat_books') }}">Статистика просмотра книг</a>
    </li>
</ul>

<div class="mt-5 container">
    {% block tab_content %}
    {% endblock %}
</div>


{% endblock %} 