{% extends 'base.html'%}

{% block content %}
<h1>Работа с данными форма</h1> 
    <form method="POST">
        <div class="mb-3">
            <label for="text">Тема</label>
            <input class="form-control" type="exit" name="theme" id="theme" value="{{ request.form.get('theme', '') }}">
        </div>
        <div class="mb-3">
            <label class="label" for="message">Сообщение</label>
            <textarea class="form-control" name="message" id="message" cols="30" rows="10">{{ request.form.get('message', '') }}</textarea>
        </div>
        <button class="btn btn-primary" type="submit">Отправить</button>
    </form>

    {% if request.method == 'POST'%}
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                {% for name, value in request.form.items() %}
                <tr>
                    <td>{{name}}</td>
                    <td>{{value}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

