{% extends 'base.html' %}
{% from 'pagination.html' import render_pagination %}
{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4 mt-2">
    {% for book in books%}
    <div class="col ">
        <div class="card mx-auto mb-3 border-secondary " style="max-width: 540px;">
            <div class="row g-0 ">
                <div class="col-md-4">
                    <img src="{{book.covers.url}}" class="img-fluid rounded-start m-1" alt="" style="max-width: 170px;">
                    
                </div>
                <div class="col-md-8 ">
                    <div class="card-body ">
                        <h5 class="card-title">{{book.name_book}}</h5>
                        <p class="card-text">{{book.formatted_description|safe| truncate(140)}}</p>
                        <p class="card-text">Жанр(ы): {%for genry in book.genrys %}{{genry.name}} {%endfor%}</p>
                        <p class="card-text"><small class="text-muted">Дата написания: {{book.year.strftime('%Y')
                                }}</small></p>
                        <p class="ms-auto rating">
                            <span>★</span><span>{{book.score}}</span><span>({{book.recives_count}})</span>
                        </p>
                    </div>
                </div>
                <div class="card-footer text-muted d-flex justify-content-between">
                    <a class="btn btn-primary " href="{{ url_for('books.show', book_id=book.id) }}">Просмотр</a>
                    {% if current_user.is_authenticated %}
                    <a class="btn btn-secondary mx-2"
                        href="{{ url_for('books.edit', book_id=book.id) }}">Редактировать</a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#delete-book-modal{{book.id}}">Удалить</button>
                    <div class="modal fade" id="delete-book-modal{{book.id}}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-center">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel{{book.id}}">Удаление книги</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <span id="user-name{{book.id}}">Вы точно хотите удалить книгу {{book.name_book}}
                                        ?</span>
                                    <form action="{{ url_for('books.delete', book_id=book.id) }}" method="POST">
                                        <input id="delete-btn{{book.id}}" type="submit" class="d-none">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                                    <label for="delete-btn{{book.id}}" class="btn btn-danger">Да</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
<div class="mb-5">
    {{ render_pagination(pagination, request.endpoint) }}
</div>
<div class="add mb-2 mt-5 text-center">
    <a class="btn btn-primary " href="{{ url_for('books.create') }}">Добавить книгу</a>
</div>



{% endblock %}